body {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family:monospace;
    font-size:x-large;
}

h1 {
    margin-bottom: 7vb;
}

h2 {
    margin: 0;
    color: rgb(201, 108, 2);
}

/* CONTENT CONTAINER */

.content-container {
    margin-top: 2vh;
    margin-left: 5vb;
    margin-right: 5vb;
    margin-bottom: 7vb;
}
/* HIDE HAMBURGER */

.hamburger {
    display: none;
}

/* NAVBAR */

.navBar-container {
    position: sticky;
    top: 0;
    width: 100%;
}

.navBar-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(24, 16, 51);
}

.navBar-container ul li {
    display: block;
    padding: 10px 20px;
}

a {
    text-decoration-line: none;
    color: rgb(201, 108, 2);
}

/* ABOUT */

.about-container {
    margin-top: 5vh;
    margin-bottom: 10vh;
    text-align: center;
}

img {
    width: 200px;
    height: auto;
    margin-bottom: 2vb;
}

.about-container div {
    display: flex;
    justify-content: center;
}

.about-container p {
    max-width: 600px;
}

/* TECHNOLOGIES */

h1.technology {
    background-image: url('/pics/techBg8.jpg');
    background-repeat: no-repeat;
    padding: 2vh;
    background-size: 100%;
    text-align: center;
}

.techList-container {
    text-align: center;
    margin-bottom: 10vh;

}

.techList-container ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

.techList-container ul li{
    display: block;
    padding: 1vb;
}

.techList-container ul li img{
    width: 7vb;
    height: auto;
}

/* PROJECTS */

h1.project {
    background-image: url('/pics/projectsBg3.jpg');
    background-repeat: no-repeat;
    padding: 2vh;
    background-size: 100%;
    text-align: center;
}

.projects-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 6vb;
    align-items: center;
}

.projects-section ul {
    max-width: 400px;
}

.projects-section ul li{
    margin-bottom: 1vb;
}

/* PROJECTS -> TRY IT */

.tryIt-container {
    text-align: center;
}

.textAndButton {
    display: flex;
    justify-content: center;
}

.textAndButton textArea {
    margin-right: 1vb;
    width: 40vb;
    height: 2vh;
    resize:none;
}

.textAndButton button {
    background-color: rgb(24, 16, 51);
    border: 0;
    width: 10vb;
    font-family: monospace;
    color: rgb(201, 131, 2);
}

.textAndButton button:hover {
    background-color: rgb(128, 58, 12);
    color: #ffffff;
}

.response-Note {
    font-style: italic;
    color: rgb(172, 145, 115);
}

/* RESUME */

.resume-container {
    text-align: center;
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.resume-container img {
    height: auto;
    width: 90%;
    max-width: 800px;
}

/* MOBILE AND < SIZES */

@media (max-width: 450px) {

    .navBar-container {
        position: sticky;
        top:0;
        width: 100%;
    }

    /* HIDE NAVBAR */

    .navBar-container ul {
        display: none;
        background-color: rgba(77, 62, 133, 0.952);
    }

    /* ACTIVATE NAVBAR ON CLICK */

    #navLinks.active {
        display: flex;
        flex-direction: column;
    }

    /* HAMBURGER */

    .hamburger {
        display: block;
        background-color: rgb(24, 16, 51);
        text-align: right;
        padding: 10px 20px;
        top: 0;
        width: 100%;
        border: 0;
        color: white;
    }

    .hamburger:hover {
        background-color:rgb(151, 85, 8);
    }

}
