p{
    font-size: 20px;
    text-align: center;
}

body{
    font-family:monospace;
    color: rgb(211, 211, 211);
    background-color: rgb(12, 7, 23);
    margin: 0;
    font-size:x-large;
}

h1{
    text-align: center;
    margin-top: 5px;
}

a{
    color: rgb(17, 105, 169);
    text-decoration: none;
}

ul.navBar{
    list-style-type: none;
    justify-content: center;
    display: flex;
    background-color: rgb(27, 24, 32);
    margin-top: 0;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    width:  100%;
}

ul.navBar li{
    padding: 20px;
}

img{
    width: 200px;
    height: auto;
}


div.portrait{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
    margin-top: 100px;

}

div.technologyParent{
    /* background-image: url('/pics/techBg8.jpg');
    background-repeat: no-repeat;
    background-position: center; */
    background-size: 100%;
}

h1.headTech{
    padding: 50px;
    background-image: url('/pics/techBg8.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

div.technology{
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}

div.projectsParent{
    /* background-image: url('/pics/projectsBg3.jpg');
    background-repeat: no-repeat;
    background-position: center; */
    background-size: 100%;
}

h1.headProj{
    background-image: url('/pics/projectsBg3.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 50px;
    background-position: center;
}

div.projects{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.projects ul li{
    padding: 5px;

}

div.tablesParent{
    /* background-color: rgb(25, 25, 25); */
    text-align: center;
}

table{
    margin-bottom: 10px;
    border-spacing: 20px 10px;
}

table tr td{
    background-color: rgb(29, 9, 41);
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    min-width: 100px;
    font-weight: bold;
}

textarea{
    background-color: rgb(29, 9, 41);
    border-color: rgb(94, 17, 182);
    width: 500px;
    height: 20px;
    font-style: italic;
    color: white;
    resize: none;
}

div.textarea{
    text-align: center;
    /* background-color: rgb(16, 1, 44);
    border: 4px solid rgb(50, 6, 4);
    max-height: 300px; */
}

div.textButton{
    display: flex;
}

button{
    background-color: rgb(14, 14, 67);
    border-color: rgb(94, 17, 182);
    color: aliceblue;
    margin-left: 20px;
    width: 145px;
}

img.resume{
    width: auto;
    height: 1000px;
}

.resume{
    text-align: center;
    margin-bottom: 70px;
}



